 #  A Whale off the Port(folio)
 ---

 In this assignment, you'll get to use what you've learned this week to evaluate the performance among various algorithmic, hedge, and mutual fund portfolios and compare them against the S&P 500 Index.

In [43]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline

# Data Cleaning

In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

Files:

* `whale_returns.csv`: Contains returns of some famous "whale" investors' portfolios.

* `algo_returns.csv`: Contains returns from the in-house trading algorithms from Harold's company.

* `sp500_history.csv`: Contains historical closing prices of the S&P 500 Index.

## Whale Returns

Read the Whale Portfolio daily returns and clean the data

In [44]:
## Reading whale returns
#Set the file paths
whale_returns_data = Path("Resources/whale_returns.csv")

#Read the CSV file and set the 'date' column as a datetime index to the DataFrame
whale_returns = pd.read_csv(whale_returns_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

#Sort data by Date in ascending order
whale_returns.sort_index(ascending=True, inplace=True)

#Displaying a few rows
whale_returns.head()

,SOROS FUND MANAGEMENT LLC,PAULSON & CO.INC.,TIGER GLOBAL MANAGEMENT LLC,BERKSHIRE HATHAWAY INC
Date,,,,
2015-03-02,NaN,NaN,NaN,NaN
2015-03-03,-0.001266,-0.004981,-0.000496,-0.006569
2015-03-04,0.002230,0.003241,-0.002534,0.004213
2015-03-05,0.004016,0.004076,0.002355,0.006726
2015-03-06,-0.007905,-0.003574,-0.008481,-0.013098

In [45]:
# Count nulls
whale_returns.isnull().sum()

SOROS FUND MANAGEMENT LLC      1
PAULSON & CO.INC.              1
TIGER GLOBAL MANAGEMENT LLC    1
BERKSHIRE HATHAWAY INC         1
dtype: int64

In [46]:
# Drop nulls
whale_returns.dropna(inplace=True)
whale_returns.isnull().sum()

SOROS FUND MANAGEMENT LLC      0
PAULSON & CO.INC.              0
TIGER GLOBAL MANAGEMENT LLC    0
BERKSHIRE HATHAWAY INC         0
dtype: int64

## Algorithmic Daily Returns

Read the algorithmic daily returns and clean the data

In [48]:
## Reading algorithmic returns
#Set the file paths
algo_returns_data = Path("Resources/algo_returns.csv")

#Read the CSV file and set the 'date' column as a datetime index to the DataFrame
algo_returns = pd.read_csv(algo_returns_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

#Sort data by Date in ascending order
algo_returns.sort_index(ascending=True, inplace=True)

#Displaying a few rows
algo_returns.head()

              Algo 1  Algo 2
Date
2014-05-28  0.001745     NaN
2014-05-29  0.003978     NaN
2014-05-30  0.004464     NaN
2014-06-02  0.005692     NaN
2014-06-03  0.005292     NaN

In [49]:
# Count nulls
algo_returns.isnull().sum()

Algo 1    0
Algo 2    6
dtype: int64

In [50]:
# Drop nulls
algo_returns.dropna(inplace=True)
algo_returns.isnull().sum()

Algo 1    0
Algo 2    0
dtype: int64

## S&P 500 Returns

Read the S&P 500 historic closing prices and create a new daily returns DataFrame from the data.

In [51]:
## Reading S&P 500 Closing Prices
#Set the file paths
sp500_history_data = Path("Resources/sp500_history.csv")

#Read the CSV file and set the 'date' column as a datetime index to the DataFrame
sp500_history = pd.read_csv(sp500_history_data, index_col="Date", infer_datetime_format=True, parse_dates=True)

#Sort data by Date in ascending order
sp500_history.sort_index(ascending=True, inplace=True)

#Displaying a few rows
sp500_history.head()

               Close
Date
2012-10-01  $1444.49
2012-10-02  $1445.75
2012-10-03  $1450.99
2012-10-04  $1461.40
2012-10-05  $1460.93

In [52]:
# Check Data Types
sp500_history.dtypes

Close    object
dtype: object

In [54]:
# Fix Data Types
sp500_history["Close"] = sp500_history["Close"].str.replace("$", "").astype("float")
sp500_history.sort_index(inplace = True)
sp500_history

AttributeError: Can only use .str accessor with string values!

In [61]:
# Calculate Daily Returns
sp500_returns = sp500_history.pct_change()
sp500_returns.head()

               Close
Date
2012-10-01       NaN
2012-10-02  0.000872
2012-10-03  0.003624
2012-10-04  0.007174
2012-10-05 -0.000322

In [62]:
# Drop nulls
sp500_returns.dropna(inplace=True)
sp500_returns.isnull().sum()

Close    0
dtype: int64

In [63]:
# Rename `Close` Column to be specific to this portfolio.
sp500_returns.rename(columns = {"Close":"sp500"}, inplace=True)
sp500_returns.head()

               sp500
Date
2012-10-02  0.000872
2012-10-03  0.003624
2012-10-04  0.007174
2012-10-05 -0.000322
2012-10-08 -0.003457

## Combine Whale, Algorithmic, and S&P 500 Returns

In [65]:
# Join Whale Returns, Algorithmic Returns, and the S&P 500 Returns into a single DataFrame with columns for each portfolio's returns.
df_returns = pd.concat([whale_returns, algo_returns, sp500_returns], axis="rows", join="inner")
df_returns

Empty DataFrame
Columns: []
Index: [2015-03-03 00:00:00, 2015-03-04 00:00:00, 2015-03-05 00:00:00, 2015-03-06 00:00:00, 2015-03-09 00:00:00, 2015-03-10 00:00:00, 2015-03-11 00:00:00, 2015-03-12 00:00:00, 2015-03-13 00:00:00, 2015-03-16 00:00:00, 2015-03-17 00:00:00, 2015-03-18 00:00:00, 2015-03-19 00:00:00, 2015-03-20 00:00:00, 2015-03-23 00:00:00, 2015-03-24 00:00:00, 2015-03-25 00:00:00, 2015-03-26 00:00:00, 2015-03-27 00:00:00, 2015-03-30 00:00:00, 2015-03-31 00:00:00, 2015-04-01 00:00:00, 2015-04-02 00:00:00, 2015-04-06 00:00:00, 2015-04-07 00:00:00, 2015-04-08 00:00:00, 2015-04-09 00:00:00, 2015-04-10 00:00:00, 2015-04-13 00:00:00, 2015-04-14 00:00:00, 2015-04-15 00:00:00, 2015-04-16 00:00:00, 2015-04-17 00:00:00, 2015-04-20 00:00:00, 2015-04-21 00:00:00, 2015-04-22 00:00:00, 2015-04-23 00:00:00, 2015-04-24 00:00:00, 2015-04-27 00:00:00, 2015-04-28 00:00:00, 2015-04-29 00:00:00, 2015-04-30 00:00:00, 2015-05-01 00:00:00, 2015-05-04 00:00:00, 2015-05-05 00:00:00, 2015-05-06 00:00:00, 2015-05-07 00:00:00, 2015-05-08 00:00:00, 2015-05-11 00:00:00, 2015-05-12 00:00:00, 2015-05-13 00:00:00, 2015-05-14 00:00:00, 2015-05-15 00:00:00, 2015-05-18 00:00:00, 2015-05-19 00:00:00, 2015-05-20 00:00:00, 2015-05-21 00:00:00, 2015-05-22 00:00:00, 2015-05-26 00:00:00, 2015-05-27 00:00:00, 2015-05-28 00:00:00, 2015-05-29 00:00:00, 2015-06-01 00:00:00, 2015-06-02 00:00:00, 2015-06-03 00:00:00, 2015-06-04 00:00:00, 2015-06-05 00:00:00, 2015-06-08 00:00:00, 2015-06-09 00:00:00, 2015-06-10 00:00:00, 2015-06-11 00:00:00, 2015-06-12 00:00:00, 2015-06-15 00:00:00, 2015-06-16 00:00:00, 2015-06-17 00:00:00, 2015-06-18 00:00:00, 2015-06-19 00:00:00, 2015-06-22 00:00:00, 2015-06-23 00:00:00, 2015-06-24 00:00:00, 2015-06-25 00:00:00, 2015-06-26 00:00:00, 2015-06-29 00:00:00, 2015-06-30 00:00:00, 2015-07-01 00:00:00, 2015-07-02 00:00:00, 2015-07-03 00:00:00, 2015-07-06 00:00:00, 2015-07-07 00:00:00, 2015-07-08 00:00:00, 2015-07-09 00:00:00, 2015-07-10 00:00:00, 2015-07-13 00:00:00, 2015-07-14 00:00:00, 2015-07-15 00:00:00, 2015-07-16 00:00:00, 2015-07-17 00:00:00, 2015-07-20 00:00:00, 2015-07-21 00:00:00, 2015-07-22 00:00:00, ...]

[3942 rows x 0 columns]

---

# Conduct Quantitative Analysis

In this section, you will calculate and visualize performance and risk metrics for the portfolios.

## Performance Anlysis

#### Calculate and Plot the daily returns.

In [15]:
# Plot daily returns of all portfolios

#### Calculate and Plot cumulative returns.

In [16]:
# Calculate cumulative returns of all portfolios

# Plot cumulative returns

---

## Risk Analysis

Determine the _risk_ of each portfolio:

1. Create a box plot for each portfolio. 
2. Calculate the standard deviation for all portfolios
4. Determine which portfolios are riskier than the S&P 500
5. Calculate the Annualized Standard Deviation

### Create a box plot for each portfolio

In [17]:
# Box plot to visually show risk

### Calculate Standard Deviations

In [18]:
# Calculate the daily standard deviations of all portfolios

### Determine which portfolios are riskier than the S&P 500

In [19]:
# Calculate  the daily standard deviation of S&P 500

# Determine which portfolios are riskier than the S&P 500

### Calculate the Annualized Standard Deviation

In [20]:
# Calculate the annualized standard deviation (252 trading days)

---

## Rolling Statistics

Risk changes over time. Analyze the rolling statistics for Risk and Beta. 

1. Calculate and plot the rolling standard deviation for all portfolios using a 21-day window
2. Calculate the correlation between each stock to determine which portfolios may mimick the S&P 500
3. Choose one portfolio, then calculate and plot the 60-day rolling beta between it and the S&P 500

### Calculate and plot rolling `std` for all portfolios with 21-day window

In [21]:
# Calculate the rolling standard deviation for all portfolios using a 21-day window

# Plot the rolling standard deviation

### Calculate and plot the correlation

In [22]:
# Calculate the correlation

# Display de correlation matrix

### Calculate and Plot Beta for a chosen portfolio and the S&P 500

In [23]:
# Calculate covariance of a single portfolio

# Calculate variance of S&P 500

# Computing beta

# Plot beta trend

## Rolling Statistics Challenge: Exponentially Weighted Average 

An alternative way to calculate a rolling window is to take the exponentially weighted moving average. This is like a moving window average, but it assigns greater importance to more recent observations. Try calculating the [`ewm`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.ewm.html) with a 21-day half life for each portfolio, using standard deviation (`std`) as the metric of interest.

In [24]:
# Use `ewm` to calculate the rolling window

---

# Sharpe Ratios
In reality, investment managers and thier institutional investors look at the ratio of return-to-risk, and not just returns alone. After all, if you could invest in one of two portfolios, and each offered the same 10% return, yet one offered lower risk, you'd take that one, right?

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [25]:
# Annualized Sharpe Ratios

In [26]:
# Visualize the sharpe ratios as a bar plot

### Determine whether the algorithmic strategies outperform both the market (S&P 500) and the whales portfolios.

Write your answer here!

---

# Create Custom Portfolio

In this section, you will build your own portfolio of stocks, calculate the returns, and compare the results to the Whale Portfolios and the S&P 500. 

1. Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.
2. Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock
3. Join your portfolio returns to the DataFrame that contains all of the portfolio returns
4. Re-run the performance and risk analysis with your portfolio to see how it compares to the others
5. Include correlation analysis to determine which stocks (if any) are correlated

## Choose 3-5 custom stocks with at last 1 year's worth of historic prices and create a DataFrame of the closing prices and dates for each stock.

In [27]:
# Reading data from 1st stock

In [28]:
# Reading data from 2nd stock

In [29]:
# Reading data from 3rd stock

In [30]:
# Combine all stocks in a single DataFrame

In [31]:
# Reset Date index

In [32]:
# Reorganize portfolio data by having a column per symbol

In [33]:
# Calculate daily returns

# Drop NAs

# Display sample data

## Calculate the weighted returns for the portfolio assuming an equal number of shares for each stock

In [34]:
# Set weights
weights = [1/3, 1/3, 1/3]

# Calculate portfolio return

# Display sample data

## Join your portfolio returns to the DataFrame that contains all of the portfolio returns

In [35]:
# Join your returns DataFrame to the original returns DataFrame

In [36]:
# Only compare dates where return data exists for all the stocks (drop NaNs)

## Re-run the risk analysis with your portfolio to see how it compares to the others

### Calculate the Annualized Standard Deviation

In [37]:
# Calculate the annualized `std`

### Calculate and plot rolling `std` with 21-day window

In [38]:
# Calculate rolling standard deviation

# Plot rolling standard deviation

### Calculate and plot the correlation

In [39]:
# Calculate and plot the correlation

### Calculate and Plot Rolling 60-day Beta for Your Portfolio compared to the S&P 500

In [40]:
# Calculate and plot Beta

### Using the daily returns, calculate and visualize the Sharpe ratios using a bar plot

In [41]:
# Calculate Annualized Sharpe Ratios

In [42]:
# Visualize the sharpe ratios as a bar plot

### How does your portfolio do?

Write your answer here!